@await RenderSectionAsync("Scripts", required: false)

<div class="btn-group btn-block">
    <a asp-controller="ShopCart" asp-action="Index" class="btn btn-inverse btn-block btn-lg">
        <i class="fa fa-shopping-cart"></i> <span id="cartProductNumber">0</span>
    </a>
</div>
