@{
    ViewData["Title"] = "Спасибо за заказ";
}
<div class="container" style="padding:40px 0">
    <h2>Спасибо за заказ</h2>
    <p>Мы свяжемся с вами для подтверждения.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-default">На главную</a>
</div>
